#particles-js {
  width: 100%;
  background: rgb(0, 47, 255);
}

.caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  color: white;
  text-align: left;
  width: 45%;
  left: 5%;
  bottom: initial!important;
  animation: fl1 3s infinite linear;
}

@media (max-width: 26.25em) {
  h1 {
    font-size: 1.875em;
  }

  h3 {
    font-size: 8px;
  }
}

.caption h1 {
  /* font-size: 2.5rem; */
  font-weight: 700;
  letter-spacing: 0.3rem;
  text-shadow: 0.1rem 0.1rem 0.8rem black;
  text-transform: uppercase;
  padding-bottom: 1rem;
  word-break: inherit;
}

.caption h3 {
  font-size: 1.5rem;
  text-shadow: 0.1rem 0.1rem 0.5rem black;
  padding-bottom: 1.6rem;
}

.btn-lg {
  border-width: medium;
  border-radius: 0;
  padding: 0.6rem 1.3rem;
  font-size: 1.1rem;
}
