.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");

body {
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
  color: #505962;
  margin: 0;
  padding: 0;
  position: relative;
}

html {
  margin: 0;
  padding: 0;
}